---
---
/*
 * assets/main.scss
 * the dashed lines above are required
 */

$background-color: #1e1e1e; /* a dark, off-black for the bg */
$text-color: #e6e6e6; /* an off-white for the text */
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #dfdfdf; /* such as the site title in the header, visited */
$brand-color: #ff8e61;

$content-width: 1200px;

.highlighter-rouge {
    color: $background-color;
}

figure > pre {
	background-color: $background-color;
}

figure > pre > code {
	background-color: $background-color;
}

.k {
    color: $text-color;
}

.n {
    color: $text-color;
}

.kd {
    color: $text-color;
}

.o {
    color: $brand-color;
}

.kc {
    color: $brand-color;
}

.na {
    color: #00CED1 !important;
}

.highlight .nf {
    color: $text-color !important;
    font-weight: normal !important;
}

.highlight .nc {
    color: $text-color !important;
    font-weight: normal !important;
}

.highlight .kt {
    color: $text-color !important;
}

.highlighter-rouge {
	font-weight: bold;
}

@import "{{ site.theme }}";